server:
  port: 8080

spring:
  application:
    name: gateway-service
cloud:
  gateway:
    routes:
      - id: auth-service
        uri: http://localhost:8081
        predicates:
          - Path=/api/auth/**

      - id: user-service
        uri: http://localhost:8086
        predicates:
          - Path=/api/users/**
management:
  endpoints:
    web:
      exposure:
        include: health,info
